/* @import url("https://fonts.googleapis.com/css2?family=Signika&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
  /* font-family: "Signika", sans-serif; */
  font-family: 'Work Sans', sans-serif;
}

#movies-body {
  background-image: linear-gradient(
    109.6deg,
    rgba(209, 0, 116, 1) 11.2%,
    rgba(110, 44, 107, 1) 91.1%
  );
}

#movies-body a,
h3,
h5 {
  color: whitesmoke !important;
}

#movies {
  margin-top: 10px;
}

#movie-body {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

#movies img,
#movie img {
  width: 100%;
}

@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;
  }
}
#movie-navbar-brand {
  color: white;
}
.well {
  color: whitesmoke;
}
.well h3 {
  color: whitesmoke;
}
.well a {
  color: whitesmoke;
}
